* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
  }
  

  
  header {
    background: rgb(198, 191, 203);
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my_form {
    padding: 2rem;
    background: #c45f4d;
  }
  
  #my_form label {
    display: block;
  }
  
  #my_form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  #quantity, #price{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: yellow;
    color: black;
  }
  
  .bg1-dark {
    background: #333;
    color: #fff;
  }
  
  
  